@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(235, 235, 235);
    color: black;
}
header{
    background-color: cornflowerblue;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
}
header input{
    font-size: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 1920px;
    height: 60px;
    padding: 0 10px;
}
main{
    max-width: 1500px;
    margin: auto;
}
main > section#tarefas{
    padding: 60px 120px;
}
main > section#tarefas > div.tituloTarefa{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width:600px){
    main > section#tarefas > div.tituloTarefa{
        display: flex;
        flex-direction: column;
    }
    main > section#tarefas > div.tituloTarefa h2{
        text-align: center;
    }
}
main > section#tarefas > div.tituloTarefa h2{
    font-size: 48px;
}
main > section#tarefas > div.tituloTarefa button{
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .75px;
    color: rgb(235, 235, 235);

    height: 46px;
    padding: 0 26px;
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: cornflowerblue;
    cursor: pointer;
    transition: all 0.5s;
}
main > section#tarefas > div.tituloTarefa button:hover{
    background-color: rgb(66, 114, 202);
}
main > section#tarefas h6{
    text-align: center;
    font-size: 24px;
    color: rgba(128, 128, 128, 0.800)
}
main > section#tarefas ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
main > section#tarefas ul > li{
    width: calc(25% - 12px);
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.12);
    display: initial;
}
@media only screen and (max-width: 1020px){
    main > section#tarefas ul > li{
        width: calc(50% - 12px);
        padding: 16px 10px;
    }
}
@media only screen and (max-width: 690px){
    main > section#tarefas ul > li{
        width: calc(100% - 12px);
        padding: 16px;
    }
}
main > section#tarefas ul li.oculto{
    display: none;
}
main > section#tarefas ul > li h5{
    font-size: 16px;
    margin-bottom: 16px;
}
main > section#tarefas ul > li > div.actions{
    display: flex;
    justify-content: flex-end;
}
main > section#tarefas ul > li > div.actions > span.material-symbols-outlined{
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}
main > section#tarefas ul > li > div.actions > span.material-symbols-outlined:hover{
    fill: blue;
}
main > section#overlay{
    background-color: rgba(0, 0, 0, 0.150);
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
main > section#overlay.active{
    opacity: 1;
    visibility: visible;
}
main > div.modal{
    background-color: white;
    width: 400px;
    padding: 16px;
    border-radius: 10px;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
main > div.modal.active{
    opacity: 1;
    visibility: visible;
}
main > div.modal > form h3{
    font-size: 24px;
    color: #797979;

    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main > div.modal > form > h3 i{
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #999;
    transform: translateY(-2px);
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 1,
        'opsz' 24,
}
main > div.modal > form label{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .75px;
    text-transform: uppercase;

    display: block;
    margin-bottom: 6px;
}
main > div.modal > form input, 
main > div.modal > form textarea{
    width: 100%;
    height: 46px;
    padding-left: 10px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 5px;
    margin-bottom: 16px;
    transition: all 0.5s;
}
main > div.modal > form textarea{
    padding-top: 10px;
    height: 120px;
}
main > div.modal > form input:focus, 
main > div.modal > form textarea:focus{
    border-color: dodgerblue;
}
main > div.modal > form button{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .75px;
    color: black;

    width: 100%;
    height: 46px;
    padding: 0 26px;
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: cornflowerblue;
    cursor: pointer;
    transition: all 0.5s;
}
main > div.modal > form button:hover{
    background-color: rgb(66, 114, 202);
}